/* アニメーション用の領域 */
.animArea {
  position: relative;
  width: 100px;
  height: 400px;
  margin: 50px auto;
  background-color: #eee;
}

/* アニメーションするボックス */
.box {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 300px;
  background-color: #faa;
}
